.barra__navegacao {
    background-color: var(--cor-fundoprincipal);
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
}

 
.barra__navegacao__itens {
    display: flex;
    justify-content: space-evenly;
}

.barra__navegacao__itens li {
    align-self: center;
}

a {
    text-decoration: none;
    color: var(--cor-fontesecundaria);
    font-size: 16px;
    font-weight: 400;
}

.navegacao__itens {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 25px;
    height: 18px;
}

.navegacao__itens :hover {
    background-color: var(--cor-azul);
    transition: all 1s ease-in-out;
}

.btn-primario{
  border: none;
  background: var(--cor-primaria);
  color: var(--cor-fundoprincipal);
}

@media (min-width: 1440px) {
    .barra__navegacao {
    background-color: #ffff;
    position: fixed;
    left: 0%;
    height: 100%;
    width: 10%;
  }

  .medica {
    margin-left: 150px;
  }

  .consultas {
    margin-left: 150px;
  }

  .barra__navegacao__itens {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 35px;
    }

}

